.product {

    .productTitleContainer {
        color: gray;
        margin-bottom: 15px;
        font-size: 22px;
    }

    .productTop {
        display: flex;

        .productTopLeft,
        .productTopRight {
            flex: 1;
        }

        .productTopRight {
            padding: 20px;
            margin: 10px 0px 0px 20px;
            -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

            .productInfoTop {
                display: flex;
                align-items: center;

                .productInfoImg {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 20px;
                }

                .productName {
                    font-weight: 600;
                    text-transform: capitalize;
                    font-size: 24px;
                }
            }

            .productInfoBottom {
                margin-top: 20px;

                .productInfoItem {
                    display: flex;
                    margin: 13px 0px;
                    color: #444;

                    .productInfoKey {
                        flex: 1;
                    }

                    .productInfoValue {
                        flex: 4;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .productBottom {
        margin-top: 30px;
    }
}