@import '../../app.scss';

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;

    h2 {
        font-size: 26px;
    }

    .categoriesWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    
        .catCard {
            width: 30%;
            height: 320px;
            cursor: pointer;
            // flex-grow: 1;
            position: relative;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            button {
                position: absolute;
                min-width: 100px;
                width: fit-content;
                height: 50px;
                padding: 10px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                cursor: pointer;
                border: none;
                background-color: white;
                text-transform: uppercase;
                font-weight: 500;
                border-radius: 5px;
            }
        }

        @include mobile {
            .catCard {
                width: 100%;
            }
        }

        @include tablet {
            .catCard {
                width: 45%;
            }
        }

        @include laptop {
            & {
                gap: 20px;
            }
            
            .catCard {
                width: 30%;
            }
        }
    }
}



// .categories {
//     display: flex;
//     height: 80vh;
//     gap: 10px;
//     margin: 10px;

//     .col {
//         flex: 1;
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//     }

//     .col-l {
//         flex: 2;
//     }

//     .row {
//         flex: 1;
//         display: flex;
//         gap: 10px;
//         position: relative;
//         overflow: hidden;

//         button {
//             position: absolute;
//             min-width: 100px;
//             width: fit-content;
//             height: 50px;
//             padding: 10px;
//             top: 0;
//             bottom: 0;
//             left: 0;
//             right: 0;
//             margin: auto;
//             cursor: pointer;
//             border: none;
//             background-color: white;
//             text-transform: uppercase;
//             font-weight: 500;
//             border-radius: 5px;
//         }

//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }
//     }
// }