.submitBtn {
    margin-top: 15px;
    width: 100%;

    button {
        width: 50%;
        border: none;
        padding: 10px;
        background-color: teal;
        color: white;
        border-radius: 20px;
        font-size: 18px;
        cursor: pointer;
    }
}