.error {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 500px;
        object-fit: cover;
        margin-bottom: 20px; 
    }
}
