.newSubCategory {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .top,
    .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;

        h1 {
            color: lightgray;
            font-size: 20px;
        }
    }

    .bottom {

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .formInput {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 5px;

                input {
                    width: 97%;
                    padding: 7px;
                    border: none;
                    border-bottom: 1px solid gray;
                    outline: none;
                }

                select {
                    width: 100%;
                    margin-top: 5px;
                    padding: 10px;
    
                    option {
                        margin-bottom: 5px;
                    }
                }
            }

            button {
                width: 145px;
                border: none;
                padding: 10px;
                background-color: teal;
                color: white;
                border-radius: 20px;
                font-size: 18px;
                cursor: pointer;
            }
        }
    }
}